[bumpversion]
current_version = 0.1.0
commit = True
tag = True
tag_name = {new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\-dev\.(?P<dev>\d+))?
serialize =
	{major}.{minor}.{patch}-dev.{dev}
	{major}.{minor}.{patch}

[bumpversion:file:oe_json_extractor/__init__.py]

[bumpversion:file:Makefile]

[bumpversion:file:pyproject.toml]

[bumpversion:file:doc/source/conf.py]

[bumpversion:file:doc/source/index.rst]

[bumpversion:file:oe_json_extractor/settings.py]

[bumpversion:file:doc/source/overview/configuration.rst]

