include *.txt
include *.md
include Makefile
include pyproject.toml
include wyrdcraeft/py.typed
recursive-include wyrdcraeft/etc/diacritic *.json *.txt

recursive-include wyrdcraeft/etc/morphology *.txt
